<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href={{icon}} />
    <link rel="stylesheet" href={{cssPath}} />   
    <title>404</title>
</head>
<body>   
    <div class="main-content">
        {{>header}}
        <h3>{{message}}</h3>
    </div>
    {{>footer}}
</body>
</html>




