body {
    color: rgb(51, 42, 42);
    font-family: arial;
    max-width: 100%;
    margin: 0 auto;    
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(241, 201, 201);
    
}

header{     
    padding: 16px;
    margin-bottom: 48px;
    width: 100%;
    color: rgb(228, 213, 243);   
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

header a {
    color: rgb(238, 212, 212); 
    margin-right: 16px;
    -webkit-text-stroke: 0.3px #111;
    text-decoration: none;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

footer {
    display:block;
    color: rgb(224, 154, 154);
    border-top: 1px solid  rgb(181, 146, 216);
    margin-top: 16px;
    padding: 16px 0;
    background: rgb(245, 92, 92); 
    width: 100%;    
}

.main-content {
    flex-grow: 1;
    
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888;
    background: #888;
    color: #fff;
    padding: 8px;
}

#messageBox {
    max-width: 60%;    
    margin: 0 auto;    
}